@import url(https://fonts.bunny.net/css?family=urbanist:200,400,600,900);
body {
	background-color: darkslategrey;
	font-family: 'urbanist', sans-serif;
	font-weight: 200;
	font-size: 0.8rem;
	color: #fff;
}
